<!--
  Generated template for the NutritiondummyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Nutritions</ion-title>


  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid class="center-grid">
    <ion-row>
      <ion-col class="highlist-calories">
        <ion-item>645 <small>Calories</small></ion-item>
      </ion-col>
      <ion-col class="calculate-calories">
        <ion-item>Fats <span float-right>34%</span></ion-item>
        <ion-item>Carbs <span float-right>34%</span></ion-item>
        <ion-item>Protein <span float-right>34%</span></ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-group>
    <ion-item-divider color="light">Total Nutrients</ion-item-divider>
    <div>
      <ion-item>Total Fat <span float-right>avdd</span></ion-item>
      <ion-item>Net Carbst <span float-right>avdd</span></ion-item>
      <ion-item>Protient <span float-right>avdd</span></ion-item>
      <ion-item>Sugarst <span float-right>avdd</span></ion-item>
    </div>

  </ion-item-group>

</ion-content>