page-item-create {
  ion-buttons[end]{
    button{
      border-radius: 100%;
      padding:0px 10px;
    }
  }
  ion-buttons[start]{
    button{
      border:0px;
      font-size:20px;
      color:map-get($colors, primary);
    }
  }
  .card-ios{
    margin:0px;
    width:100%;
    border:0px;
    box-shadow: none !important;

    ion-list-header{
      border:0px;
      ion-label{
        font-size:18px;
        margin:7px 0px;
        height: 38px !important;
      }
    }ion-list-header:after{
      border:1px solid map-get($colors, primary);
      content:'';
      clear: both;
      float: left;
      width: 15%;
      position: absolute;
      top: 34px;}

    .item-checkbox{
      background:#f6f6f6;
      border-left:2px solid map-get($colors, secondary);
      margin-left: 15px;
      margin-bottom: 3px;
      animation-duration: 3s;
      animation-name: slidein;


      ion-label{
        margin:0px !important;
        small{
          padding-top: 3px;
        }
      }

    }
    .item-checkbox-checked{
      border-left:2px solid map-get($colors, primary) !important;
    }
    @keyframes slidein {
      from {
        margin-left: 100%;
        width: 300%;
      }

      to {
        margin-left:15px;
        width: 100%;
      }
    }
  }
  .completedItems {
    text-decoration-line: line-through;
    small {
      text-decoration-line: line-through;
    }
  }
}
