<ion-header>
  <ion-navbar>
    <ion-title>Grocery List</ion-title>
    <ion-buttons end (click)="add()" *ngIf="iterateIngredientTypeTitle().length > 0" class="animated fadeIn">
      <button ion-button color="secondary" outline>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid class="full_page_loading" *ngIf="isLoading">
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
  <div class="meal_plan_welcome animated fadeIn" *ngIf="!isLoading && iterateIngredientTypeTitle().length <= 0">
    <img [src]="'assets/img/grocery_optimized.png'" class="slide-image"/>
  </div>
  <div *ngIf="!isLoading" class="animated fadeIn">
    <ion-card *ngFor="let title of iterateIngredientTypeTitle();">
      <div *ngIf="!ingredients[title].isCompleted">
        <ion-list-header>
          {{title}}
        </ion-list-header>
        <div *ngFor="let ingredient of ingredients[title].data; let i = index">
          <button ion-item *ngIf="!ingredient.isChecked">
            <ion-label>{{ingredient.name}}
            <small float-right [innerHTML]="getIngredientQuantityAndUnitHTML(ingredient)"></small>
            </ion-label>
            <ion-checkbox [(ngModel)]="ingredient.isChecked"
                          (ionChange)="updateCompletedIngredients(title, i)"></ion-checkbox>
          </button>
        </div>
      </div>
    </ion-card>
    <!--<ion-fab right bottom (click)="done()">-->
    <!--<button ion-fab>Done</button>-->
    <!--</ion-fab>-->
    <div *ngIf="showItemCompleted">
      <ion-card text-center>
        <button ion-button clear text-uppercase *ngIf="toggleCompletedItemsShow" (click)="toggleCompletedItems()">
          Hide {{totalCompleteItems}} completed items
        </button>
        <button ion-button clear text-uppercase *ngIf="!toggleCompletedItemsShow" (click)="toggleCompletedItems()">
          Show {{totalCompleteItems}} completed items
        </button>
      </ion-card>
      <div *ngIf="toggleCompletedItemsShow">
        <ion-card *ngFor="let title of iterateIngredientTypeTitle();">
          <div class="completedItems" *ngFor="let ingredient of ingredients[title].data; let i = index">
            <button ion-item *ngIf="ingredient.isChecked">
              <ion-label>{{ingredient.name}}
                  <small float-right [innerHTML]="getIngredientQuantityAndUnitHTML(ingredient)"></small>
              </ion-label>
              <ion-checkbox [(ngModel)]="ingredient.isChecked"
                            (ionChange)="updateCompletedIngredients(title, i)"></ion-checkbox>
            </button>
          </div>
        </ion-card>
      </div>
    </div>
  </div>
  <!--<ion-card *ngFor="let title of iterateIngredientTypeTitle();">-->
  <!--<button ion-item *ngFor="let ingredient of ingredients[title]">-->
  <!--<ion-label>{{ingredient.name}}-->
  <!--<small float-right>-->
  <!--{{getIngredientQuantityAndUnitHTML(ingredient)}}-->
  <!--</small>-->
  <!--</ion-label>-->
  <!--<ion-checkbox [(ngModel)]="ingredient.isChecked" (ionChange)="updateCompletedIngredients()"></ion-checkbox>-->
  <!--</button>-->
  <!--</ion-card>-->
</ion-content>
