<ion-content style="background:url(assets/img/couple-cooking-beach.jpg);">
  <ion-list>
    <img src="assets/img/appicon.png" class="login_image"/>
    <h2>Log In</h2>
    <form (submit)="login()">
      <div class="item_wrapper">
        <ion-item class="form_input">
          <ion-input type="email" [(ngModel)]="account.email" name="email" placeholder="Email"></ion-input>
        </ion-item>
        <p *ngIf="errors.email.isError" class="animated fadeIn">{{errors.email.error}}</p>
      </div>
      <div class="item_wrapper">
        <ion-item class="form_input">
          <ion-input type="password" [(ngModel)]="account.password" name="password" placeholder="Password"></ion-input>
        </ion-item>
        <p *ngIf="errors.password.isError" class="animated fadeIn">{{errors.password.error}}</p>
      </div>
      <ion-item float-left>
        <ion-label> Remember me</ion-label>
        <ion-checkbox color="danger"></ion-checkbox>
      </ion-item>
      <div>
        <button ion-button color="danger" block>Log In</button>
      </div>
    </form>
    <div>
      <button ion-button color="facebook_btn" block (click)="loginWithFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </button>
    </div>
    <div>
      <button ion-button color="google_btn" block (click)="loginWithGooglePlus()">
        <ion-icon name="logo-googleplus"></ion-icon>
      </button>
    </div>
    <div class="new_member">
      <button ion-button clear text-center block (click)="openSignUp()">New to MenuPlanner? Sign Up</button>
    </div>
  </ion-list>
</ion-content>
