page-login {
  ion-content{
    background-size:cover;

    ion-list{
      background:#fffffff5;
      display:table;
      margin:0 auto !important;
      width:90%;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      position: absolute;
      padding:23px 21px;
      border-radius: 3px;
      ion-item{
        background:none !important;
        padding:0px !important;
        ion-checkbox{
          margin:0px !important;
          padding-right: 6px !important;
        }
      }
      ion-item.form_input{
        padding:0px !important;
        //margin-bottom:10px !important;
        .item-inner{
          border:1px solid #ccc !important;
          border-radius:3px;
          padding:0px 0px !important;
          input{
            margin:0px !important;
            padding:0px 13px !important;
          }
        }
      }
    }
    img.login_image{
      float:right;
      width:150px;
      border-radius:100%;
      padding:10px;
      background:#fff;
      position: absolute;
      right: 16px;
      top: -84px;
    }
    .new_member{
      margin: 11px -20px -9px;
      border-top: 1px solid #dcdcdccc;
      text-align: center;
      //padding-top: 13px;
      font-size: 16px;
    }
  }
}
