page-preferred-diet {
  
  .video-logo{
    position: absolute;
    top:0;
    right: 0;
    z-index: 100;
    // border: 1px solid black;
    border-radius: 50%;
    padding: 10%;
    color: #149a9a;
    background: #ffffff;
  }

  .tooltiptext {
    // visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right:-20px;
    top:-40px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

  }

  .animated2 {
    -webkit-animation-duration: 3s;
    animation-duration:3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
 
 @-webkit-keyframes fadeIn2 {
    0% {opacity: 0;}
    30% {opacity: 1;}
    80% {opacity: 1;}
    100% {opacity: 0;}
 }
 
 @keyframes fadeIn2 {
  0% {opacity: 0;}
  30% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
 }
 
 .fadeIn2 {
    -webkit-animation-name: fadeIn2;
    animation-name: fadeIn2;
 }

 .arrow_box {
	// position: relative;
	background: black;
	border: 4px solid black;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: black;
	border-width: 10px;
	margin-left: 10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: black;
	border-width: 10px;
	margin-left: 10px;
}






  ion-header {
    ion-navbar {
      .toolbar-background-ios {
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
      }
      .toolbar-title-ios {
        color: #5a5a5a;
      }
    }
  }
  .header-md {
    .toolbar-md {
      min-height: 50px;
      .toolbar-background {
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
        text-align: center;
      }
      .toolbar-content {
        text-align: center;
      }
    }
  }
  .header-md:after {
    display: none;
  }
  ion-content {
    background: #f2f2f2 !important;
    .item-checkbox-checked, .item-radio-checked {
      ion-avatar {
        background: map-get($colors, primary);
        img {
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }
    
    ion-item {
      padding: 0px !important;
      text-align: center !important;
      background: none !important;
      font-size: 2rem !important;
      line-height: 21px !important;
      margin-bottom: 10px !important;
      ion-checkbox, ion-radio {
        position: absolute !important;
        left: 0;
        z-index: 9999;
        right: 0;
        height: 100%;
        top: 0;
        .checkbox-icon, .radio-icon {
          display: none !important;
        }

      }
      .item-inner {
        padding: 0px !important;
        border: 0px !important;
      }

      ion-label {

        margin: 0px !important;
        font-size: 1em;
        ion-avatar {
          text-align: center;
          background: #fff;
          padding: 13px 0px;
          width: 100px;
          height: 100px;
          margin: 0 auto;
          margin-bottom: 10px;
          border-radius: 100px;
          img {
            display: table !important;
            margin: 0 auto;
            width: 70px !important;
            height: 70px !important;
            opacity: 0.8 !important;
          }
        }
      }
    }
  }
  ion-footer {
    background: #fff;
    .alreadysign {
      padding: 0px;
      height: 24px;
    }
  }
}
