<ion-header>
  <ion-navbar>
    <ion-title>Preferred Diet ( 1 / {{totalSteps}} )</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="pagi">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-left>
              <button ion-button clear icon-start color="gray" [disabled]="afterLogin" (click)="back()">
                <ion-icon name="arrow-back"></ion-icon>
                BACK
              </button>
            </ion-col>
            <ion-col col-4>
              <img src="assets/img/appicon.png" class="logo-tutorial"/>
            </ion-col>
            <ion-col col-4 text-right>
              <button ion-button clear icon-end (click)="next()" color="secondary">NEXT
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  <ion-col col-12 text-center no-padding>
    <h2 no-margin>What food plan best suits your needs? </h2>
    <p>Please select an option below</p>
    <div *ngIf="diets.length <= 0">
      <ion-spinner></ion-spinner>
    </div>
    <ion-grid *ngIf="diets.length > 0" radio-group [(ngModel)]="selectedDiet">
      <ion-row>
        <ion-col col-6 *ngFor="let diet of diets; let i = index;">
          <div *ngIf="i == 0" class="tooltiptext animated2 fadeIn2 arrow_box">
            Watch Video
          </div>
          <ion-icon class="video-logo" (click)="watchVideo(diet)" name="logo-youtube"></ion-icon>
          <ion-item text-wrap>
            <ion-label>

              <ion-avatar>
                <img [src]="getDefaultImage(diet.icon, 'assets/img/back-icon/'+diet.icon+'.png')">
              </ion-avatar>
              {{diet.name}}
              <br/>
              <small>{{diet.description}}</small>
            </ion-label>
            <ion-radio [value]="i"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-col>
</ion-content>
<ion-footer>
  <ion-grid padding>
    <button ion-button round block color="light" (click)="next()">CONTINUE</button>
  </ion-grid>
</ion-footer>
