page-notes {
  ion-content {
    background-color: map-get($colors, 'defaultBackground') !important;
    .scroll-content {
      overflow: hidden !important;
    }
    ion-textarea {
      background-color: map-get($colors, 'defaultBackground');
      border: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      textarea {
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
      }
    }
  }
}
