<ion-header>

  <ion-navbar>
    <ion-title>{{recipe.title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-grid class="full_page_loading" *ngIf="isLoading">
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>

  <div *ngIf="!isLoading" class="animated fadeIn">
    <div class="item-profile" text-center #profilePic
         [style.background-image]="'url(' + (recipe.image || + 'assets/img/default_recipe.jpg') + ')'">
      <div class="item-detail" padding>
        <h2>{{recipe.title}}</h2>
        <p>
          <ion-icon name="ios-clock-outline"></ion-icon>
          {{recipe.prep_time}} MINUTES |
          <ion-icon name="restaurant"></ion-icon>
          {{recipe.serving}} SERVINGS
        </p>
      </div>

    </div>
    <div>
      <ion-segment [(ngModel)]="segments">
        <ion-segment-button value="Cookware">
          Cookware
        </ion-segment-button>
        <ion-segment-button value="Ingredients">
          Ingredients
        </ion-segment-button>
        <ion-segment-button value="Instructions">
          Instructions
        </ion-segment-button>
      </ion-segment>
    </div>

    <div [ngSwitch]="segments">
      <ion-list *ngSwitchCase="'Cookware'" no-lines>
        <div *ngIf="recipe.cookwares.length <= 0">
          <ion-item>No Cookware</ion-item>
        </div>
        <div *ngIf="recipe.cookwares.length > 0">
          <button ion-item *ngFor="let cookware of recipe.cookwares" (click)="openCookWare(cookware)">
            {{cookware.name}}
          </button>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'Ingredients'" no-lines>
        <div *ngIf="recipe.ingredients.length <= 0">
          <ion-item>No Ingredients</ion-item>
        </div>
        <div *ngIf="recipe.ingredients.length > 0">

            <ion-list class="custon-radio-list" radio-group [(ngModel)]="serving" >
                <ion-list-header>
                  Choose Serving
                </ion-list-header>

                <ion-grid>
                    <ion-row>
                      <ion-col col-4>
                          <ion-item>
                            <ion-label>For 2</ion-label>
                            <ion-radio value="2" (ionSelect)="radioChecked(2)"></ion-radio>
                          </ion-item>
                      </ion-col>
                      <ion-col col-4>
                          <ion-item>
                            <ion-label>For 4</ion-label>
                            <ion-radio value="4" (ionSelect)="radioChecked(4)"></ion-radio>
                          </ion-item>
                      </ion-col>
                      <ion-col col-4>
                          <ion-item>
                            <ion-label>For 6</ion-label>
                            <ion-radio value="6" (ionSelect)="radioChecked(6)"></ion-radio>
                          </ion-item>
                      </ion-col>
                    </ion-row>

                  </ion-grid>



              </ion-list>
          <ion-item class="no-margin-in-label" *ngFor="let ingredient of recipe.ingredients">

            <ion-row>
              <ion-col col-6 text-left text-wrap>
                  <span>{{ingredient.name}}</span>&nbsp;<span>{{ingredient.description}}</span>
              </ion-col>
              <ion-col col-6 text-right text-wrap>

                  <span [innerHTML]="getIngredientQuantityAndUnitHTMLViaServing(recipe.serving, serving , ingredient)"></span>
              </ion-col>
            </ion-row>
          </ion-item>
        </div>
      </ion-list>
      <ion-list *ngSwitchCase="'Instructions'" no-lines class="instructions_list">
        <div *ngIf="recipe.prep_instructions.length <= 0">
          <ion-item>No Instructions</ion-item>
        </div>
        <div *ngIf="recipe.prep_instructions.length > 0">
          <ion-item *ngFor="let instruction of recipe.prep_instructions; let i = index">
            <ion-row>
              <ion-col col-1 text-left text-wrap>
                  <h3>{{i+1}}</h3>
              </ion-col>
              <ion-col col-11 text-left text-wrap>
                  <div [innerHTML]="instruction.instruction"></div>
              </ion-col>
            </ion-row>
            <!-- <ion-avatar item-start>
              <span>{{i+1}}</span>
            </ion-avatar> -->

          </ion-item>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!isDirect">
  <button ion-button full (click)="addToMeanPlan()" no-margin no-padding *ngIf="!isAddedToMealPlan">
    Add to Meal Plan
  </button>
  <button ion-button full color="danger" (click)="removeFromMeanPlan()" no-margin no-padding *ngIf="isAddedToMealPlan">
    Remove from Meal Plan
  </button>
</ion-footer>
<ion-footer *ngIf="isDirect">
  <ion-grid class="fakeTabs">
    <ion-row>
      <ion-col col-2>
        <button ion-button full [color]="footerFakeTabsConfig.share.color" [disabled]="recipe.ingredients.length <= 0" icon-only (click)="showNutritionInfo(recipe.ingredients)">
          <ion-icon name="information-circle"></ion-icon>
          <br>
          Nutrition
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button full [color]="footerFakeTabsConfig.share.color" icon-only (click)="share()">
          <ion-icon name="share"></ion-icon>
          <br>
          Share
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button full [color]="footerFakeTabsConfig.add_note.color" icon-only (click)="addNote()">
          <ion-icon name="paper"></ion-icon>
          <br>
          <span *ngIf="!recipe.notes">Add Note</span>
          <span *ngIf="recipe.notes">See Note</span>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button full [color]="footerFakeTabsConfig.favourite.color" icon-only (click)="favorite()">
          <ion-icon name="heart"></ion-icon>
          <br>
          Favorite
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button full [color]="footerFakeTabsConfig.complete.color" icon-only (click)="complete()">
          <ion-icon name="done-all"></ion-icon>
          <br>
          Complete
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
