page-item-detail {
  .no-margin-in-label{
    .label-md{
      margin: 0 !important;
    }

    *{
      font-family: "Roboto", "Helvetica Neue", "sans-serif";
      font-size: 14px
    }

  }
  .item-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 300px;
    position: relative;

    .item-detail {
      width: 100%;
      background: #ffffffe0;
      position: absolute;
      bottom: 0px;
      text-align: left;
      border-left: 3px solid map-get($colors, primary);
    }
  }
  ion-segment {
    margin-bottom: 5px;
  }
  .tabs-section {
    ul {
      padding: 0px;
      margin: 0px;
      li {
        width: 31%;
        margin: 2% 1% 0;
        padding: 8px 0px;
        float: left;
        list-style: none;
        text-align: center;
        background: #ccc;
        color: #fff;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
      li.active {
        background: map-get($colors, primary);
      }
    }
  }

  .instructions_list {
    ion-avatar {
      position: relative;
      min-width: 20px;
      min-height: 20px;
      span {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 10px;
      }
    }
    ion-label {
      white-space: unset !important;
    }
  }

  //.footer_tabs {
  //  position: absolute;
  //  bottom: 0px;
  //  margin: 0px;
  //  background: #eaeaea;
  //  ion-segment-button {
  //    border-radius: 0 !important;
  //    border: 0 !important;
  //    height: 4.2rem !important;
  //    padding-top: 0.6rem;
  //  }
  //}

  .fakeTabs {
    padding: 0 !important;
    ion-col {
      padding: 0 !important;
      height: 45px;
      flex: 0 0 20%;
      width: 20%;
      max-width: 20%;
      button {
        margin: 0 !important;
        border-right: 1px solid #cccccc6b;
        font-size: 1.3rem !important;
        padding: 10px !important;
        height: 100%;
        .button-inner {
          display: block;
        }
      }
    }
  }

}
