<!--
  Generated template for the DislikeSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button class="top-back-fix" (click)="navCtrl.pop()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>Search {{heading}}</ion-title>
    <ion-buttons end>
        <button ion-button clear (click)="returnSelected()">
          Done
        </button>
      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>

    <ion-searchbar [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()"></ion-searchbar>

    <ion-list>
        <ion-item *ngFor="let item of items">
            <ion-checkbox dark item-left (ionChange)="item.selected = !item.selected" ></ion-checkbox>
            <ion-label>
                {{item.name}}
              </ion-label >

        </ion-item>
    </ion-list>

</ion-content>
