page-dislike {
  .search-btn {
    border: 1px solid;
    border-radius: 15px;
  }

  .search-btn ion-icon {
    margin-right: 10px;
    border-right: 1px solid;
    padding-right: 10px;
  }

  .alert-md .alert-checkbox-label{
    text-transform: lowercase;
  }
  ion-header {
    ion-navbar {
      .toolbar-background-ios {
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
      }
      .toolbar-title-ios {
        color: #5a5a5a;
      }
    }
  }

  .header-md {
    .toolbar-md {
      min-height: 50px;
      .toolbar-background {
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
        text-align: center;
      }
      .toolbar-content {
        text-align: center;
      }
    }
  }
  .header-md:after {
    display: none;
  }
  ion-content {
    background: #f2f2f2 !important;
    .item-checkbox-checked {
      ion-avatar {
        background: map-get($colors, primary);
        img {
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }
    ion-item {
      padding: 0px 7px !important;
      border-radius: 100px !important;
      height: 1.0rem;
      ion-checkbox {
        margin: 0px 7px 0px 4px !important;

      }
      .label-ios {
        margin: 0 !important;
      }
      .item-inner {
        border: 0px !important;
        text-transform: lowercase;
      }

    }


    .item-block {
      min-height: 3.2rem !important;
    }
    .item-checkbox-checked {
      background: map-get($colors, danger);
      .checkbox-checked {
        background: #fff;
        border: 0px !important;
        .checkbox-inner {
          border-color: map-get($colors, danger) !important;
          width: 6px;
          height: 11px;
          border: 0px;
          transform: none !important;
          top: -6px;
          font-size: 23px;
          left: 6px;
          color: #ee3087;
        }
        .checkbox-inner:before {
          content: "\f406";
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
      }
      .item-inner {
        ion-label {
          color: #fff;
        }
      }
    }
    .checkbox-md {
      .checkbox-inner {
        left: 4px !important;
        top: -5px !important;
      }
    }
  }
  ion-footer {
    background: #fff;
    .alreadysign {
      padding: 0px;
      height: 24px;
    }
  }
}
