<!--
  Generated template for the CookWareContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{cookware.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div text-center>
    <img [src]="cookware.image || 'assets/img/default_recipe.jpg'">
  </div>
  <p>{{cookware.description || 'No Description'}}</p>
</ion-content>
