<!--
  Generated template for the YvideoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-buttons start>
          <button ion-button class="top-back-fix" (click)="navCtrl.pop()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
    <ion-title>{{diet.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
