<ion-tabs>
  <ion-tab [root]="'MealplanPage'" [rootParams]="{isFavourite: false}" [tabTitle]="'Meal Plan'" tabIcon="restaurant"
           [tabsHideOnSubPages]="true"></ion-tab>
  <ion-tab [root]="'ItemCreatePage'" [tabTitle]="'Grocery List'" [tabBadge]="totalIngredients"
           tabIcon="cart"></ion-tab>
  <!--<ion-tab [root]="'FavouritePage'" [tabTitle]="'Favorites'" tabIcon="md-heart"></ion-tab>-->
  <ion-tab [root]="'MealplanPage'" [rootParams]="{isFavourite: true}" [tabTitle]="'Favorites'"
           tabIcon="heart" [tabsHideOnSubPages]="true"></ion-tab>
  <ion-tab [root]="'SettingsPage'" [tabTitle]="'Settings'" tabIcon="options" [tabsHideOnSubPages]="true"></ion-tab>
</ion-tabs>
