page-home {
  ion-header{
    ion-navbar{
      .toolbar-background-ios{
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
      }
      .toolbar-title-ios{
        color:#5a5a5a;
      }
      ion-buttons{
        button{
          padding: 0px 10px !important;
          border-radius: 29px !important;
        }
      }
    }
  }
  .tabs-ios .tabbar{
    background: #ffffff;
    border-top: 0.55px solid rgba(0, 0, 0, 0.21);
    .tab-button {
      max-width: 240px;
      min-height: 49px;
      font-size: 15px;
      font-weight: 500;
      color: #8c8c8c;
      padding: 0 2px;
      border-right: 1px solid #cccccc6b;
    }
    .tab-button[aria-selected="true"]{
      background: #149a9a;
      color:#fff;
      ion-icon{
        background:#fff;
        border-radius: 100px;
        padding-top:3px;
        height:35px;
        width:35px;
      }
    }
  }
  .has-icon .tab-badge{
    right: calc(50% - 40px);
  }
  ion-content {
    background: #f2f2f2 !important;
  }
}
