page-upgrade {
  .toolbar-background {
    background: #fff !important;
    border-color: transparent;
    border: 0px !important;
  }
  .logo-tutorial{
    width: 132px;
    margin: 0px auto;
    position: absolute;
    top:-72px;
    right: 0;
    left: 0;
    background: #fff;
    padding: 7px;
    border-radius: 100%;
  }
  ion-content{
    background:#eeeeee !important;

    ion-card-header{
      ion-list{
        small{
          line-height: 15px !important;
        }
      }
    }
  }
  ion-card{
    margin:0px !important;
    width:100% !important;
    overflow: visible;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    position: absolute;
    box-shadow:none !important;

    .card-header-ios{
      padding: 54px 16px 16px 16px;

      ion-list{
        ion-badge{
          background:none;
          color:map-get($colors, light);
          padding: 0px;
          top: -10px;
          position: relative;
        }


      }
    }
    ion-list{
      position:relative;
      font-size:25px;
      line-height: 24px;
      small{
        font-size:13px;
        display:block !important;
        line-height: 10px !important;
        white-space: normal;
        padding: 0px;
      }
      button{

        padding:0px !important;
        border-bottom:1px solid #eaeaea  !important;
        min-height: auto !important;
        ion-icon{
          color:#333;
        }
        .ico-list{
          margin:0px !important;
          background:map-get($colors, secondary);
          padding: 8px 11px !important;
          color: #fff;
          margin-right: 10px !important;
          float: left;
          width: 44px;
          text-align: center;
        }
        ion-label{
          margin:0px !important;
          padding-bottom: 0px;
        }
      }
    }
  }
  ion-footer{
    background:#fff;
    padding: 6px !important;
    button{
      margin:0px !important;
      float:left !important;
      -webkit-box-direction: initial !important;
      -webkit-flex-direction: initial !important;
      -ms-flex-direction: initial !important;
      flex-direction:initial !important;

      margin: 5px !important;
      width:47% !important;
      font-size: 23px !important;
      padding: 11px 0px !important;
      height: auto !important;
    }

  }
}
