<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Upgrade to OLMP Pro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content class="has-footer">
  <ion-card no-padding>
    <ion-card-header>
      <img src="assets/img/appicon.png" class="logo-tutorial"/>
      <ion-list text-center> Achieve your goals faster! <br/>
        <small>More personalizatoin, nutritional info, exclusive content & world class support</small>
      </ion-list>
    </ion-card-header>

    <ion-list>
      <button ion-item>
        <div class="ico-list">1</div>
        Exclusive recipes
        <small>Pro-only recipes added every week</small>
      </button>
      <button ion-item>
        <div class="ico-list">2</div>
        View nutritional informatoin
        <small>Calories, macros, micros</small>
      </button>
      <button ion-item>
        <div class="ico-list">3</div>
        Calories customization
        <small>Filter recipes by calories</small>
      </button>
      <button ion-item>
        <div class="ico-list">4</div>
        Add notes to recipes
        <small>Personalize your meals for next time</small>
      </button>
      <button ion-item>
        <div class="ico-list">5</div>
        View your previous meal plan
        <small>Finished your meal plan & shop for the next</small>
      </button>
      <button ion-item>
        <div class="ico-list">6</div>
        World class support
        <small>Fast priority support when you need it</small>
      </button>
      <br><br>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer padding>
  <button col-6 ion-button round *ngFor="let proPlan of proPlans; let i = index;" (click)="planSelected(i)"
          [color]="(i === 1) ? 'secondary' : ''">
    <span>${{proPlan.price}}</span>
    <small style="font-size: 60%;">/{{proPlan.title}}</small>
  </button>
  <!--<button col-6 ion-button round (click)="next()">$755<small>/ mo</small></button>-->
  <!--<button col-6 ion-button round (click)="next()" color="secondary">$755<small>/ mo</small></button>-->
</ion-footer>
