page-settings {
  .logo-tutorial{
    width: 132px;
    margin: 0px auto;
    position: absolute;
    top: -82px;
    right: 0;
    left: 0;
    background: #fff;
    padding: 7px;
    border-radius: 100%;
  }

  ion-card{
    margin:0px !important;
    width:100% !important;
    overflow: visible;
    position: relative;
    box-shadow:none !important;

    .card-header-ios{
      padding: 54px 16px 16px 16px;

      ion-list{
        ion-badge{
          background:none;
          color:map-get($colors, light);
          padding: 0px;
          top: -10px;
          position: relative;
        }
      }
    }
    ion-list{
      position:relative;
      font-size:20px;
      color: map-get($colors, light);

      button{
        ion-icon{
          //color:#333;
        }
      }
    }
  }
  ion-card.card-ios {
    margin-top:90px !important;
  }
  ion-card.card-md {
    margin-top:110px !important;
    ion-card-header {
      padding: 25px !important;
    }
  }
}
