<ion-header>

  <ion-navbar>
    <ion-title>Settings</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-card no-padding>
    <ion-card-header>
      <img src="assets/img/appicon.png" class="logo-tutorial"/>
    </ion-card-header>
    <ion-list>
      <button ion-item (click)="openUpgrade()">
        <span ion-text color="light">
          <ion-icon name="star" item-start></ion-icon>
          <span *ngIf="!is_subscribed">Upgrade to OLMP Pro!</span>
          <span *ngIf="is_subscribed">Subscription</span>
        </span>
      </button>
      <button ion-item (click)="openPreferences()">
        <span ion-text>
          <ion-icon name="settings" item-start></ion-icon> Eating Preferences
        </span>
      </button>
      <button ion-item (click)="openAccount()">
        <span ion-text>
          <ion-icon name="person" item-start></ion-icon> Your Details
        </span>
      </button>
      <button ion-item>
        <span ion-text>
          <ion-icon name="help-buoy" item-start></ion-icon> Support Center
        </span>
      </button>
      <button ion-item>
        <span ion-text>
          <ion-icon name="people" item-start></ion-icon> Online Communication
        </span>
      </button>
      <button ion-item>
        <span ion-text>
          <ion-icon name="mail" item-start></ion-icon> Email Us
        </span>
      </button>
      <button ion-item>
        <span ion-text>
          <ion-icon name="information-circle" item-start></ion-icon> About
        </span>
      </button>
      <button ion-item (click)="logout()">
        <span ion-text>
          <ion-icon name="log-out" item-start></ion-icon> Log Out
        </span>
      </button>
    </ion-list>
  </ion-card>
</ion-content>
