// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');

ion-app.ios {
  font-family: 'Titillium Web', sans-serif !important;
}

.pagi .button-md {
  font-size: 19px;
}

.header-md:after {
  display: none;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color: #000;
$background-color: #fff;

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #149a9a,
  secondary: #f36d21,
  danger: #ee3087,
  light: #55ba47,
  dark: #653190,
  gray: #5a5a5a,
  white: #ffffff,
  buttonSelected: #149a9a,
  facebook_btn: #3b5998,
  google_btn: #d9534f,
  defaultBackground: #f2f2f2
);

.text-primary {
  color: map-get($colors, primary);
}

;
.text-secondary {
  color: map-get($colors, secondary);
}

;
.text-danger {
  color: map-get($colors, danger);
}

;
.text-light {
  color: map-get($colors, light);
}

;
.text-dark {
  color: map-get($colors, dark);
}

;

.bg-primary {
  background: map-get($colors, primary);
}

;
.bg-secondary {
  background: map-get($colors, secondary);
}

;
.bg-danger {
  background: map-get($colors, danger);
}

;
.bg-light {
  background: map-get($colors, light);
}

;
.bg-dark {
  background: map-get($colors, dark);
}

;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";

// Global Styles

.meal_plan_welcome {
  position: absolute;
  width: 80%;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  bottom: 0px;
  -webkit-animation: mealplan 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: mealplan 2s infinite alternate;
  text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mealplan {
  0%, 20%, 40%, 60%, 80%, 100% {
    bottom: 0px;
  }
  50% {
    bottom: -40px;
  }
}

/* Standard syntax */
@keyframes mealplan {
  0%, 20%, 40%, 60%, 80%, 100% {
    bottom: 0px;
  }
  50% {
    bottom: -40px;
  }
}

ion-grid.full_page_loading {
  height: 100%;
  ion-row {
    height: 100%;
  }
}

div.recipe_list_container {
  overflow: hidden;
  button {
    width: 100%;
  }
}

.image-cropper {
  width: 120px;
  height: 120px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;
  background-size: cover;
  background-position: center center;
}


@media screen and (min-width : 400px) {
  ion-list.recipe_list {
    width: 33.33%;
  }
}

@media screen and (max-width : 401px) {
  ion-list.recipe_list {
    width: 50%;
  }
}

ion-list.recipe_list {
  // width: 50%;
  float: left;
  padding: 10px;
  margin: 0px !important;
  background: #fff;
  border: 0.5px solid #f7f7f7;
  border-bottom: 0px;
  // max-height: 50vw;
  button {
    padding: 0px !important;
    background: none;

    ion-avatar {
      width: 100%;
      margin: 0 !important;
      height: 100%;
      display: table;
      ion-checkbox {
        position: absolute !important;
        margin-left: 30px;
        margin-top: 10px;
        .checkbox-icon {
          width: 28px !important;
          height: 28px !important;
          border: 1px solid #ccc !important;
          padding: 2px !important;

        }
        .checkbox-inner {
          left: 9px !important;
          top: 4px !important;
          position: absolute;
          width: 7px !important;
          height: 14px !important;
        }

        .checkbox-inner:before {
          content: "\f102";
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          font-size: 26px;
          margin-top: -4px;
          margin-left: -2px;
          color: #ccc;
        }
        .checkbox-checked .checkbox-inner:before {
          display: none;
        }
      }
      ion-checkbox.isPro {
        .checkbox-inner:before {
          content: "\f1b0";
          margin-left: -2px;
          font-size: 20px;
          margin-top: -1px;
        }
      }
      img {
        margin: 0 auto;
        width: 120px !important;
        height: 120px !important;
        border: 1px solid map-get($colors, primary);
        //padding:4px;
        border-radius: 100px;
      }
    }
    h2 {
      font-size: 16px;
      margin-top: 1.8rem !important;
      line-height: 16px;
      height: 48px;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
    .item-inner {
      width: 100%;
      overflow: visible;
      display: block;
      padding: 0px !important;
      background: none;
    }
  }
}

div.item_wrapper {
  margin-bottom: 10px !important;
  p {
    margin: 0px;
    color: map-get($colors, danger);
  }
}

.pro_plan_recipe_alert_container {
  text-align: center;
  .alert-wrapper {
    width: 100%;
    max-width: 320px !important;
    .alert-head {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }
    .alert-message {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  h2 {
    text-align: center;
  }
  h6 {
    color: map-get($colors, gray);
    font-size: 1.3rem;
  }
  ul {
    text-align: left;
  }
}

.header-md {
  .pagi {
    .logo-tutorial {
      padding: 10px;
      // width: 120px;
    }
    .button-md {
      padding: 0 !important;
    }
  }

}

.pagi {
  background: #fff;
  text-align: center;
  margin-bottom: 65px;
  .logo-tutorial {
    position: absolute;
    z-index: 9999;
    // width: 140px;
    width: 60%;
    left: 0;
    right: 0;
    background: #fff;
    margin: 0 auto;
    border-radius: 90px;
    // padding: 15px;
  }
  button {
    font-size: 21px;
  }
}
