<ion-header no-shadow>
  <ion-navbar dir="{{dir}}">
    <img src="assets/img/appicon.png" class="logo-tutorial"/>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="openPreferredDiet()" color="secondary">Skip Tour</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
  <ion-slides pager="true" dir="{{dir}}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide>
      <h2>Dinner is <strong class="text-secondary">Served!</strong></h2>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        <small>If the following question troubles you everyday</small>
        <br/><span class="text-dark">"Are you frustrated and bored with healthy eating?”</span></h2>
      <div class="slide-description">
        Let the OLMP make it easy and delicious!
        <br>
        Move ahead to check out hundreds of delectable recipes customized just for you.
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Menu Planner Is <strong class="text-secondary">Served!</strong></h2>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title">
        <small>Looking to Lose Weight,</small>
        <small>heal your gut,</small>
        <small>decrease pain and inflammation,</small>
        <small>increase energy,</small>
        <br/><span class="text-danger">Improve brain function?</span></h2>
      <div class="slide-description">
        No matter what your goal is OLMP is here to help personalize your health goals and simplify your life.
      </div>
    </ion-slide>
    <ion-slide>
      <h2>Menu Planner Is <strong class="text-secondary">Served!</strong></h2>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">
        <small>Healthy and Nutritious</small>
        <br/><span class="text-secondary">Meal in Minutes</span></h2>
      <div class="slide-description">
        Just a few easy steps and we will get you cooking in no time. Simply click the button below to get started now.
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-grid padding>
    <button ion-button round block (click)="goToNextSlide()"> Continue</button>
    <button ion-button clear text-center block class="alreadysign" (click)="openLoginPage()">
      <span>Already a member?</span> <span
      class="text-secondary">Sign In</span></button>
  </ion-grid>

</ion-footer>
