page-tutorial {
  .toolbar-background {
    background: #fff !important;
    border-color: transparent;
    border: 0px !important;
  }
  ion-navbar.toolbar, ion-header {
    overflow: visible !important;
  }
  ion-navbar.toolbar {
    height: 16vh;
  }
  ion-header {
    height: 16vh;
  }
  ion-header:after {
    display: none;
  }
  ion-navbar.toolbar {
    contain: inherit;
    align-items: normal;
    // min-height: 100px;
    border: 0px;
    margin-bottom: 40px;
  }
  .logo-tutorial {
    position: absolute;
    z-index: 9999;
    // width: 160px;
    width: 20vh;
    left: 0;
    right: 0;
    background: #fff;
    margin: 0 auto;
    border-radius: 90px;
    padding: 10px;
  }
  ion-content {
    background: #f2f2f2 !important;
    //margin-top: 50px !important;
  }
  .scroll-content{
    padding-top: calc(23vh - 107px + 15px) !important;
  }
  .slide-zoom {
    height: 100%;
  }


  .slide-title {
    margin-top: 0rem;
  }

  .slide-image {
    max-height: 32%;
    max-width: 100%;
    margin: 0px 0;
  }
  div.swiper-pagination {
    bottom:-6px !important;
    text-align: right;
 }
  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }
  ion-slide {
    .slide-description {
      font-size: 14px;
      opacity: 0.8;
    }
  }
  ion-footer {
    background: #fff;
    .alreadysign {
      padding: 0px;
      height: 24px;
      .button-inner {
        display: inline !important;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300 !important;
  }
  h2 {
    font-size: 2.1rem !important;
  }
  button {
    box-shadow: none !important;
  }
  ion-header:after {
    display: none !important;
  }
  ion-navbar {
    text-align: center;
  }
  ion-navbar .toolbar-background {

    border-bottom: 1px solid #e6e6e6 !important;
    background: #fff !important;
  }
}
