page-add-ingredient {
  ion-grid {
    padding: 0 !important;
    ion-col {
      padding: 0 !important;
    }
  }
  ion-item {
    padding-left: 0px !important;
  }
  .list-md .item-input:last-child{
    border: 0px;
  }
}
