<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Add Ingredient</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid class="full_page_loading animated fadeIn" *ngIf="isLoading">
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="!isLoading" class="animated fadeIn">
    <form (submit)="addIngredient()">
      <div class="item_wrapper">
        <ion-item>
          <ion-label color="primary" floating>Name</ion-label>
          <ion-input type="text" name="name" [(ngModel)]="ingredientData.name"></ion-input>
        </ion-item>
        <p *ngIf="errors.name.trim()" class="animated fadeIn">{{errors.name.trim()}}</p>
      </div>
      <div class="item_wrapper">
        <ion-item>
          <ion-label color="primary" floating>Type</ion-label>
          <ion-select [(ngModel)]="ingredientData.type" name="type">
            <ion-option *ngFor="let ingredientType of ingredientTypes" [value]="ingredientType.id">
              {{ingredientType.name}}
            </ion-option>
          </ion-select>
        </ion-item>
        <p class="animated fadeIn" *ngIf="errors.type.trim()">{{errors.type.trim()}}</p>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <div class="item_wrapper">
              <ion-item>
                <ion-label color="primary" floating>Quantity</ion-label>
                <ion-input type="number" name="quantity" [(ngModel)]="ingredientData.quantity"></ion-input>
              </ion-item>
              <p class="animated fadeIn" *ngIf="errors.quantity">{{errors.quantity.trim()}}</p>
            </div>
          </ion-col>
          <ion-col col-6>
            <div class="item_wrapper">
              <ion-item>
                <ion-label color="primary" floating>Unit</ion-label>
                <ion-select [(ngModel)]="ingredientData.unit" name="unit">
                  <ion-option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}
                    ({{unit.symbol}})
                  </ion-option>
                </ion-select>
              </ion-item>
              <p class="animated fadeIn" *ngIf="errors.unit">{{errors.unit.trim()}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label>Is Sub Unit</ion-label>
        <ion-checkbox [(ngModel)]="isSubUnit" name="isSubUnit"></ion-checkbox>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6 *ngIf="isSubUnit" class="animated fadeIn">
            <ion-item>
              <ion-label color="primary" floating>Sub Quantity</ion-label>
              <ion-input type="number" name="subQuantity" [(ngModel)]="ingredientData.subQuantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6 *ngIf="isSubUnit" class="animated fadeIn">
            <ion-item>
              <ion-label color="primary" floating>Sub Unit</ion-label>
              <ion-select [(ngModel)]="ingredientData.subUnit" name="subUnit">
                <ion-option *ngFor="let unit of units" [value]="unit.id">
                  {{unit.name}} ({{unit.symbol}})
                </ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div text-center margin-top="20">
        <button ion-button round type="submit">Add</button>
      </div>
    </form>
  </ion-list>
</ion-content>
