<ion-header padding text-center>
  <ion-title><small>Welcome to</small><br /> Optimal Living Menu Planner. </ion-title>
  <small> You are just three steps away from a well organized, healthy and hassle free meal plan</small>
  <img src="assets/img/appicon.png" class="logo-tutorial" />
</ion-header>

<ion-content no-bounce padding>
  <ion-grid>
    <ion-row class="step-1">
      <ion-col col-12 text-left>
        <ion-list>
          <ion-item>
            <ion-avatar item-start  class="bg-danger">
              <img src="assets/img/white-icon/risotto.png">
            </ion-avatar>
            <h2 class="text-danger">Choose Your Meals</h2>
            <p>Plan your week and select your menu</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="step-2">
      <ion-col col-12 text-right>
        <ion-list>
          <ion-item>
            <ion-avatar item-end  class="bg-dark">
              <ion-icon name="ios-paper-outline"></ion-icon>
            </ion-avatar>
            <h2 text-right class="text-dark">Finalize Grocery List</h2>
            <p text-right>One time shopping list created
              for ingredients</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="step-3">
      <ion-col col-12 text-left>
        <ion-list>
          <ion-item>
            <ion-avatar item-start class="bg-secondary">
              <ion-icon name="ios-clock-outline"></ion-icon>
            </ion-avatar>
            <h2 class="text-secondary">Prepare Your Meal</h2>
            <p>Easy instructions to ready your meal in minutes</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid padding>
    <button ion-button icon-end large round block  (click)="goToHome()">GOT IT! I AM READY</button>
  </ion-grid>
</ion-footer>
