page-welcome {
  ion-navbar, ion-header{
    overflow:visible !important;
    background: #fff !important;
  }
  ion-header{
    .toolbar-title-ios{
      font-size: 2.4rem;
      small{
        font-size:2rem;
      }
    }
    small{
      font-size:1.4rem;
    }

  }
  .header-md{
    .logo-tutorial{
      width:120px;
    }
  }
  ion-navbar{
    contain: inherit;
    align-items: normal;
    min-height: 127px;
    border:0px;
    margin-bottom:40px;
  }

  .logo-tutorial{
    position: relative;
    width: 160px;
    background: #fff;
    margin: 0 auto;
    border-radius: 90px;
    padding: 10px;
    display: table;
    margin-bottom: -71px;
  }
  ion-content{
    background:#f2f2f2 !important;
    .step-1{
      ion-item{
        -webkit-animation: mymove 1s ease-out; /* Safari 4.0 - 8.0 */
        animation: mymove 1s ease-out;
      }
    }
    .step-2{
      ion-item{
        -webkit-animation: mymoves 2s ease-in; /* Safari 4.0 - 8.0 */
        animation: mymoves 2s ease-in;
      }
    }
    .step-3{
      ion-item{
        -webkit-animation: mymove 3s ease-in; /* Safari 4.0 - 8.0 */
        animation: mymove 3s ease-in;
      }
    }
    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove {
      0%   {left: -900px;}
      100% {left: 0px;}
    }

    /* Standard syntax */
    @keyframes mymove {
      0%   {left: -900px;}
      100% {left: 0px;}
    }
    @-webkit-keyframes mymoves {
      0%   {right: -900px;}
      100% {right: 0px;}
    }

    /* Standard syntax */
    @keyframes mymoves {
      0%   {right: -900px;}
      100% {right: 0px;}
    }
    ion-grid{
      ion-row{
        ion-list{
          margin:0px !important;
          margin-bottom: 10px !important;
          ion-item{
            background:none !important;
            border:0px !important;
            margin:0px !important;
            padding: 0px !important;

            ion-label{
              h2{
                font-size: 2.0rem;
              }
              p{
                font-size: 1.7rem !important;
                color: #2b2b2b !important;
                line-height: 19px !important;
              }
              white-space: normal;
            }
            ion-avatar {
              min-width: 73px !important;
              min-height: 73px !important;
              text-align: center;
              color: #FFF;
              font-size: 43px;
              border-radius: 37px;
              padding: 11px 13px;

              img{
                text-align: center;
                margin: 0 auto;
                width: 50px !important;
                height: 50px !important;
              }
            }
          }
        }
      }
    }
  }
  .scroll-content{
    padding-top: 51px !important;
  }
  .content-md{
    ion-grid{
      ion-row{
        .item-inner{
          ion-label{
            h2{font-size: 2.0rem }
          }
        }
      }
    }
  }
  ion-footer{
    background:#fff;
    .button-round-ios{
      height: 2.0em;
    }
  }
  .footer-md{
    ion-grid{
      .button-md{
        height: 2.2em;
      }
    }
  }
}
