page-preferences {
  ion-card {
    width: 100% !important;
    background-color: transparent !important;
    box-shadow: none !important;
    ion-list-header {
      background-color: transparent !important;
      border: 0px !important;
      margin-bottom: 0px !important;
    }
    [no_arrow] {
      .item-inner {
        padding-right: 0px !important;
        background-image: none !important;
      }
    }
  }
  ion-radio.radio-ios {
    .radio-icon {
      width: 20.5px !important;
      border-radius: 100%;
      border: 0.5px solid #ccc;
    }
  }
  ion-grid {
    padding: 0 !important;
    ion-col {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      padding-left: 0 !important;
    }
  }
}
