<!--
  Generated template for the PreferencesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Preferences</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <p ion-text text-center color="light">Changes are saved automatically</p>
  <ion-card no-padding no-margin>
    <div no_arrow>
      <ion-list-header>
        Menu Type
      </ion-list-header>
      <ion-grid class="full_page_loading animated fadeIn" *ngIf="pageInterface.diets.isLoading">
        <ion-row align-items-center justify-content-center>
          <ion-spinner></ion-spinner>
        </ion-row>
      </ion-grid>
      <div class="animated fadeIn" *ngIf="pageInterface.diets.data.length > 0 && !pageInterface.diets.isLoading"
           radio-group
           [(ngModel)]="selectedDietIndex"
           (ionChange)="dietUpdated()">
        <button ion-item *ngFor="let diet of pageInterface.diets.data; let i = index">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col col-4>{{diet.name}}</ion-col>
                <ion-col col-8>
                  <small><i>{{diet.description}}</i></small>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-radio item-left [value]="i"></ion-radio>
        </button>
      </div>
    </div>
  </ion-card>
  <!--Allergies-->
  <ion-card no-padding no-margin>
    <div no_arrow>
      <ion-list-header>
        Allergies and Restrictions
      </ion-list-header>
      <ion-grid class="full_page_loading animated fadeIn" *ngIf="pageInterface.allergies.isLoading">
        <ion-row align-items-center justify-content-center>
          <ion-spinner></ion-spinner>
        </ion-row>
      </ion-grid>
      <div *ngIf="pageInterface.allergies.data.length > 0 && !pageInterface.allergies.isLoading"
           class="animated fadeIn">
        <button ion-item *ngFor="let allergy of pageInterface.allergies.data; let i = index">
          <ion-label>
            {{allergy.name}}
          </ion-label>
          <ion-checkbox [(ngModel)]="allergy.isSelectedByUser"></ion-checkbox>
        </button>
      </div>
    </div>
  </ion-card>
  <!--Ingredients-->
  <ion-card no-padding no-margin>
    <div no_arrow>
      <ion-list-header>
        Ingredients you dislike
      </ion-list-header>
      <ion-grid class="full_page_loading animated fadeIn" *ngIf="pageInterface.ingredients.isLoading">
        <ion-row align-items-center justify-content-center>
          <ion-spinner></ion-spinner>
        </ion-row>
      </ion-grid>
      <div *ngIf="pageInterface.ingredients.data.length > 0 && !pageInterface.ingredients.isLoading"
           class="animated fadeIn">
        <button ion-item *ngFor="let ingredient of pageInterface.ingredients.data; let i = index">
          <ion-label>
            {{ingredient.name}}
          </ion-label>
          <ion-checkbox [(ngModel)]="ingredient.isSelectedByUser"></ion-checkbox>
        </button>
        <div text-center>
          <button ion-button clear (click)="loadMoreIngredients()">Load More</button>
        </div>
      </div>
    </div>
  </ion-card>
  <!--Meal Size-->
  <ion-card no-padding no-margin>
    <div no_arrow>
      <ion-list-header>
        Meal Size
      </ion-list-header>
      <ion-grid class="full_page_loading animated fadeIn" *ngIf="pageInterface.servings.isLoading">
        <ion-row align-items-center justify-content-center>
          <ion-spinner></ion-spinner>
        </ion-row>
      </ion-grid>
      <div *ngIf="pageInterface.servings.data.length > 0 && !pageInterface.servings.isLoading"
           class="animated fadeIn"
           radio-group
           [(ngModel)]="selectedServingIndex">
        <button ion-item *ngFor="let serving of pageInterface.servings.data; let i = index">
          <ion-label>
            <p>{{serving.value}} servings</p>
            <div>{{serving.title}}</div>
            <ul no-padding no-margin>
              <li *ngFor="let servingItem of serving.items">- <i>{{servingItem.body}}</i></li>
            </ul>
          </ion-label>
          <ion-radio item-left [value]="i"></ion-radio>
        </button>
      </div>
    </div>
  </ion-card>
</ion-content>
