page-search {
  .toolbar-background {
    background: #fff !important;
    border-color: transparent;
    border: 0px !important;
  }
  ion-content{
    background: map-get($colors, primary) !important;
    .item-checkbox-checked{
      ion-avatar{
        background:map-get($colors, primary);
        img{
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }
    ion-card{
      background:#f3f3f3 !important;
      ion-list-header{
        background:#fff !important;
        ion-label{
          font-size: 16px !important;
        }
      }
      ion-list-header.ion_list_header_clickAble{
        margin-bottom: 0;
        ion-label{
          margin: 0;
          padding: 0;
          button {
            margin: 0;
            padding: 0;
          }
        }
      }
      [col-6]{
        float:left;
      }
      ion-grid{
        padding: 9px !important;
      }
    }
    ion-item{
      padding:0px 7px !important;
      border-radius:100px !important;
      height: 1.0rem;
      ion-checkbox{
        margin: 0px 7px 0px 4px !important;

      }
      .label-ios {
        margin: 0 !important;
        font-size: 15px;
      }
      .item-inner{
        border:0px !important;
      }

    }
    .item-block{
      min-height: 3.2rem !important;
    }
    .item-checkbox-checked{
      background:map-get($colors, light);
      .checkbox-checked{
        background:#fff;
        border:0px !important;
        .checkbox-inner{
          border-color: map-get($colors, light) !important;
          width: 6px;
          height: 11px;
        }
      }
      .item-inner{
        ion-label{
          color:#fff;
        }
      }
    }
  }

  ion-footer{
    background:#fff;
  }
}
