<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title *ngIf="!isMeal">Search Filters</ion-title>
    <ion-title *ngIf="isMeal">{{mealitem.name}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>

  <div *ngIf="!isMeal">
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button ion-item detail-none clear (click)="collapseToggle('calories')">
        Filter By Calories
        <ion-icon item-right [name]="collapseData.calories.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>
    <ion-grid class="full_page_loading" *ngIf="collapseData.calories.is && collapseData.calories.isLoading">
      <ion-row align-items-center justify-content-center>
        <ion-spinner></ion-spinner>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="collapseData.calories.is && !collapseData.calories.isLoading"
              class="open-list animated fadeInDown fadeInUp">
      <ion-row radio-group [(ngModel)]="collapseData.calories.data.selected">
        <ion-col col-6 *ngFor="let calories of collapseData.calories.data.cals">
          <ion-item>
            <ion-label> Under {{calories.value}}</ion-label>
            <!--<ion-checkbox [(ngModel)]="calories.isChecked"></ion-checkbox>-->
            <ion-radio [value]="calories.value"></ion-radio>
          </ion-item>
        </ion-col>


        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Shellfish-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Egg-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Shellfish-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Egg-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Shellfish-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Egg-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Shellfish-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
        <!--<ion-col col-6>-->
        <!--<ion-item>-->
        <!--<ion-label> Egg-Free</ion-label>-->
        <!--<ion-checkbox></ion-checkbox>-->
        <!--</ion-item>-->
        <!--</ion-col>-->
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button ion-item detail-none clear (click)="collapseToggle('dishTypes')">
        Filter By Dish Types
        <ion-icon item-right [name]="collapseData.dishTypes.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>
    <ion-grid class="full_page_loading" *ngIf="collapseData.dishTypes.is && collapseData.dishTypes.isLoading">
      <ion-row align-items-center justify-content-center>
        <ion-spinner></ion-spinner>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="collapseData.dishTypes.is && !collapseData.dishTypes.isLoading"
              class="open-list animated fadeInDown fadeInUp">
      <ion-row>
        <ion-col col-6 *ngFor="let dishType of collapseData.dishTypes.data">
          <ion-item>
            <ion-label> {{dishType.name}}</ion-label>
            <ion-checkbox [(ngModel)]="dishType.isChecked" (ionChange)="updateDishType(dishType)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button ion-item detail-none clear (click)="collapseToggle('courses')">
        Filter By Courses
        <ion-icon item-right [name]="collapseData.courses.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>
    <ion-grid class="full_page_loading" *ngIf="collapseData.courses.is && collapseData.courses.isLoading">
      <ion-row align-items-center justify-content-center>
        <ion-spinner></ion-spinner>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="collapseData.courses.is && !collapseData.courses.isLoading"
              class="open-list animated fadeInDown fadeInUp">
      <ion-row>
        <ion-col col-6 *ngFor="let course of collapseData.courses.data">
          <ion-item>
            <ion-label> {{course.name}}</ion-label>
            <ion-checkbox [(ngModel)]="course.isChecked" (ionChange)="updateCourses(course)"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button ion-item detail-none clear (click)="collapseToggle('sort')">
        Sort By
        <ion-icon item-right [name]="collapseData.sort.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>
    <ion-grid class="full_page_loading" *ngIf="collapseData.sort.is && collapseData.sort.isLoading">
      <ion-row align-items-center justify-content-center>
        <ion-spinner></ion-spinner>
      </ion-row>
    </ion-grid>
    <ion-grid *ngIf="collapseData.sort.is && !collapseData.sort.isLoading"
              class="open-list animated fadeInDown fadeInUp">
      <ion-row>
        <ion-col col-12 *ngFor="let sort of collapseData.sort.data">
          <h2>{{sort.type}}</h2>
          <ion-grid>
            <ion-row radio-group [(ngModel)]="sort.selected" (ionChange)="updatedSort(sort)">
              <ion-col col-6 *ngFor="let value of sort.values">
                <ion-item>
                  <ion-label> {{value.title}}</ion-label>
                  <ion-radio [value]="value.value"></ion-radio>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>

<div *ngIf="isMeal">
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button *ngIf="collapseData.breakfast.data" ion-item detail-none clear (click)="collapseToggle('breakfast')">
        Breakfast
        <ion-icon item-right [name]="collapseData.breakfast.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>

      <div *ngIf="collapseData.breakfast.is && !isLoading" class="recipe_list_container animated fadeIn">
        <h3 *ngIf="collapseData.breakfast.data.length <= 0" ion-text color="secondary" class="no_recipe_found">
          No Recipe found.
        </h3>
        <ion-list *ngFor="let recipe of collapseData.breakfast.data; let i = index;" class="recipe_list">
          <button (click)="openRecipe(recipe)">
            <ion-avatar item-start>
              <ion-checkbox [(ngModel)]="recipe.isChecked" (ngModelChange)="clickedOnCheck(recipe)"
                            [ngClass]="{'isPro': recipe.is_pro}"></ion-checkbox>
              <img [src]="recipe.image || 'assets/img/default_recipe.jpg'"/>
            </ion-avatar>
            <div class="clearfix text">
              <h2>{{recipe.title}}</h2>
            </div>
          </button>
        </ion-list>
      </div>

  </ion-card>
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button *ngIf="collapseData.lunch.data" ion-item detail-none clear (click)="collapseToggle('lunch')">
        Lunch
        <ion-icon item-right [name]="collapseData.dishTypes.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>


    <div *ngIf="collapseData.lunch.is && !isLoading" class="recipe_list_container animated fadeIn">
      <h3 *ngIf="collapseData.lunch.data.length <= 0" ion-text color="secondary" class="no_recipe_found">
        No Recipe found.
      </h3>
      <ion-list *ngFor="let recipe of collapseData.lunch.data; let i = index;" class="recipe_list">
        <button >
          <ion-avatar item-start>
            <ion-checkbox [(ngModel)]="recipe.isChecked"

                          [ngClass]="{'isPro': recipe.is_pro}"></ion-checkbox>
            <img [src]="recipe.image || 'assets/img/default_recipe.jpg'"/>
          </ion-avatar>
          <div class="clearfix text">
            <h2>{{recipe.title}}</h2>
          </div>
        </button>
      </ion-list>
    </div>


  </ion-card>
  <ion-card>
    <ion-list-header class="ion_list_header_clickAble">
      <button *ngIf="collapseData.dinner.data" ion-item detail-none clear (click)="collapseToggle('dinner')">
        Dinner
        <ion-icon item-right [name]="collapseData.sort.is ? 'arrow-dropdown' : 'arrow-dropup'"></ion-icon>
      </button>
    </ion-list-header>

    <div *ngIf="collapseData.dinner.is && !isLoading " class="recipe_list_container animated fadeIn">
      <h3 *ngIf="collapseData.dinner.data.length <= 0" ion-text color="secondary" class="no_recipe_found">
        No Recipe found.
      </h3>
      <ion-list *ngFor="let recipe of collapseData.dinner.data; let i = index;" class="recipe_list">
        <button >
          <ion-avatar item-start>
            <ion-checkbox [(ngModel)]="recipe.isChecked"

                          [ngClass]="{'isPro': recipe.is_pro}"></ion-checkbox>
            <img [src]="recipe.image || 'assets/img/default_recipe.jpg'"/>
          </ion-avatar>
          <div class="clearfix text">
            <h2>{{recipe.title}}</h2>
          </div>
        </button>
      </ion-list>
    </div>

  </ion-card>
</div>




</ion-content>
<ion-footer>
  <ion-grid>
    <button *ngIf="!isMeal" ion-button round block
            [disabled]="collapseData.calories.isLoading || collapseData.dishTypes.isLoading || collapseData.sort.isLoading"
            (click)="apply()">Apply Filters
    </button>

    <button *ngIf="isMeal" ion-button round block
            (click)="applymealtypes()">Apply Meal Plan
    </button>

  </ion-grid>
</ion-footer>
