<!--
  Generated template for the DishTypeContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{dishType.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <img [src]="dishType.image || 'assets/img/default_recipe.jpg'">
  </div>
  <p>{{dishType.description || 'No Description'}}</p>
</ion-content>
