<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid class="full_page_loading animated fadeIn" *ngIf="isLoading">
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
  <ion-list *ngIf="!isLoading">
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input [(ngModel)]="accountData.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="accountData.password"></ion-input>
    </ion-item>
    <ion-item no-lines no-margin-label auto-height>
      <small>Leave blank to keep the same</small>
    </ion-item>
    <ion-item *ngIf="accountData.password.trim().length > 0" class="animated fadeIn">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="accountData.confirmPassword"></ion-input>
    </ion-item>
  </ion-list>
  <div text-center>
    <button ion-button round (click)="update()">Update</button>
  </div>
</ion-content>
