page-account {
  ion-item {
    background-color: transparent !important;
  }
  ion-item[no-margin-label] {
    ion-label {
      margin: 0 !important;
    }
  }
  ion-item[auto-height] {
    min-height: auto !important;
  }
}
