<ion-header>
  <ion-navbar>
    <ion-title>Servings ( 4 / {{totalSteps}} )</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <div class="pagi">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-left>
              <button ion-button clear icon-start (click)="back()" color="gray">
                <ion-icon name="arrow-back"></ion-icon>
                BACK
              </button>
            </ion-col>
            <ion-col col-4>
              <img src="assets/img/appicon.png" class="logo-tutorial"/>
            </ion-col>
            <ion-col col-4 text-right>
              <button ion-button clear icon-end (click)="next()" color="secondary">NEXT
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  <ion-col col-12 text-center no-padding>
    <h2 no-margin>How many servings you <br/> need per meal?</h2>
    <p>Please select an option below</p>
    <div *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <p *ngIf="!isLoading && servings.length <= 0">No Serving Found.</p>
    <div class="serve_tabs" *ngIf="!isLoading && servings.length > 0">
      <ul>
        <li *ngFor="let serving of servings; let i = index;" [class.active]="serving.isActive">
          <a class="serve_2" (click)="servingActive(serving.id)">
            <span>{{serving.value}}</span> Serve
          </a>
        </li>
      </ul>
      <div class="serve_cont_2" *ngFor="let serving of servings; let i = index" [hidden]="!serving.isActive">
        <h2>{{serving.title}}</h2>
        <ul>
          <li *ngFor="let item of serving.items">-{{item.body}}</li>
        </ul>
      </div>
    </div>
  </ion-col>

</ion-content>
<ion-footer>
  <ion-grid padding>
    <button ion-button round block color="light" (click)="next()">CONTINUE</button>
  </ion-grid>

</ion-footer>
