page-servings {
  ion-header {
    ion-navbar {
      .toolbar-background-ios {
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
      }
      .toolbar-title-ios {
        color: #5a5a5a;
      }
    }
  }

  .header-md {
    .toolbar-md {

      min-height: 50px;
      .toolbar-background {
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
        text-align: center;
      }
      .toolbar-content {
        text-align: center;
      }
    }
  }
  .header-md:after {
    display: none;
  }
  ion-content {
    background: #f2f2f2 !important;
    .item-checkbox-checked {
      ion-avatar {
        background: map-get($colors, primary);
        img {
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }
    ion-item {
      padding: 0px 7px !important;
      border-radius: 100px !important;
      height: 1.0rem;
      ion-checkbox {
        margin: 0px 7px 0px 4px !important;

      }
      .label-ios {
        margin: 0 !important;
      }
      .item-inner {
        border: 0px !important;
      }

    }
    .item-block {
      min-height: 3.2rem !important;
    }
    .item-checkbox-checked {
      background: map-get($colors, danger);
      .checkbox-checked {
        background: #fff;
        border: 0px !important;
        .checkbox-inner {
          border-color: map-get($colors, danger) !important;
          width: 6px;
          height: 11px;
          border: 0px;
          transform: none !important;
          top: -6px;
          font-size: 23px;
          left: 6px;
          color: #ee3087;
        }
        .checkbox-inner:before {
          content: "\f406";
          display: inline-block;
          font-family: "Ionicons";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          text-rendering: auto;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
        }
      }
      .item-inner {
        ion-label {
          color: #fff;
        }
      }
    }

    .serve_tabs {
      padding: 0px;
      margin: 0px;
      ul {
        padding: 0px;
        margin: 0 auto;
        display: table;
        li {
          float: left;
          list-style: none;
          margin: 0px 10px;
          position: relative;
          a {
            padding: 0px;
            font-size: 20px;
            color: map-get($colors, gray) !important;
            span {
              display: block;
              font-size: 50px;
              color: #fff;
              width: 80px;
              height: 80px;
              border-radius: 100%;
              background: map-get($colors, gray) !important;
            }
          }
        }

        li.active {
          a {
            color: map-get($colors, primary) !important;
            span {
              background: map-get($colors, primary) !important;
            }
          }
        }
        li.active:before {
          content: '';
          width: 0px;
          height: 0px;
          border-left: 13px solid transparent;
          border-right: 13px solid transparent;
          border-bottom: 13px solid #149a9a;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -16px;
          margin: 0 auto;
        }
      }
      ul:before {
        content: '';
        display: block;
        clear: both;
      }
      .serve_cont_2 {
        display: block;
        clear: both;
        text-align: left;
        background: map-get($colors, primary) !important;
        width: 85%;
        margin: 0 auto;
        display: table;
        color: #fff;
        padding: 15px;
        margin-top: 15px;
        h2 {
          padding: 0px;
          margin: 0px;
        }
        ul {
          padding: 0px;
          margin: 0px;
          li {
            display: block;
            clear: both;
          }
        }
      }
    }
  }

  .content-md {
    .serve_tabs {
      ul {
        li {
          span {
            padding-top: 8px !important;
            margin-bottom: 10px !important;
          }
        }
      }
    }
  }
  ion-footer {
    background: #fff;
    .alreadysign {
      padding: 0px;
      height: 24px;
    }
  }
}
