<ion-header>

  <ion-navbar>

    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Pick your week’s meals</ion-title>

    <ion-buttons end *ngIf="topTab == 'recepi' ">
      <button ion-button icon-only (click)="searchModel()">
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="topTab" color="dark">
      <ion-segment-button value="recepi">
        Select Recipes
      </ion-segment-button>
      <ion-segment-button (ionSelect)="fetchGroupMeals()" value="quickstr">
        Quick Start Plan
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-grid class="full_page_loading" *ngIf="isLoading">
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>

  <div *ngIf="!isLoading && topTab == 'recepi' " class="recipe_list_container animated fadeIn">
    <h3 *ngIf="recipes.length <= 0" ion-text color="secondary" class="no_recipe_found">
      No Recipe found.
    </h3>
    <ion-searchbar [(ngModel)]="searchTerm1" (ionInput)="setFilteredItems1()"></ion-searchbar>
    <ion-list *ngFor="let recipe of recipes; let i = index;" class="recipe_list">
      <button (click)="openRecipe(recipe)">
        <ion-avatar item-start>
          <ion-checkbox [(ngModel)]="recipe.isChecked" (ngModelChange)="clickedOnCheck(i)"
                        (ionChange)="updateSelectedRecipes(i)"
                        [ngClass]="{'isPro': recipe.is_pro}"></ion-checkbox>
          <div class="image-cropper" [style.backgroundImage]="'url(' + recipe.image + ')'">
              <!-- <img [src]="recipe.image || 'assets/img/default_recipe.jpg'" class="profile-pic"/> -->
            </div>

        </ion-avatar>
        <div class="clearfix text">
          <h2>{{recipe.title}}</h2>
        </div>
      </button>
    </ion-list>
  </div>



  <div *ngIf="!isLoading && topTab == 'quickstr' " class="recipe_list_container animated fadeIn">
    <h3 *ngIf="recipe_group.length <= 0" ion-text color="secondary" class="no_recipe_found">
      No plan found.
    </h3>
    <ion-searchbar [(ngModel)]="searchTerm2" (ionInput)="setFilteredItems2()"></ion-searchbar>
    <ion-list *ngFor="let recipe of recipe_group; let i = index;" class="recipe_list">
      <button (click)="showDetailMealModel(recipe)">
        <ion-avatar item-start>
          <ion-checkbox [(ngModel)]="recipe.isChecked" (ngModelChange)="clickedOnCheck(i)"
                        (ionChange)="updateSelectedPlanRecipes(i)"
                        [ngClass]="{'isPro': recipe.is_pro}"></ion-checkbox>
          <div class="image-cropper" [style.backgroundImage]="'url(' + recipe.image + ')'">
              <!-- <img [src]="recipe.image || 'assets/img/default_recipe.jpg'" class="profile-pic"/> -->
            </div>
        </ion-avatar>
        <div class="clearfix text">
          <h2>{{recipe.name}}</h2>
        </div>
      </button>
    </ion-list>
  </div>


</ion-content>
<ion-footer *ngIf="selectedRecipes.length > 0 || selectedPlanRecipes.length > 0"  class="animated fadeIn">
  <ion-navbar>
    <ion-item no-lines>

      <ion-scroll scrollX>
        <div class="scroll-item">

          <ion-col col-33 *ngFor="let recipe of selectedRecipes">
            <div class="card card-1" text-center>
                <button class="cross-btn" (click)="removeSelectedItem(recipe)" ion-button color="danger" clear><ion-icon ios="ios-close-circle" md="md-close-circle"></ion-icon></button>
              <img [src]="recipe.image || 'assets/img/default_recipe.jpg'">
              <p style="font-size: 9px;">{{recipe.title}}</p>
            </div>
          </ion-col>

          <ion-col col-33 *ngFor="let recipe of selectedPlanRecipes">
            <div class="card card-1" text-center>
              <img [src]="recipe.image || 'assets/img/default_recipe.jpg'">
              <p style="font-size: 9px;">{{recipe.name}}</p>
            </div>
          </ion-col>

        </div>
      </ion-scroll>
      <div item-end>
        <button ion-button round *ngIf="selectedPlanRecipes.length > 0" (click)="addRecipesPlans()">Done</button>
        <button ion-button round *ngIf="selectedRecipes.length > 0" (click)="addRecipes()">Done</button>
      </div>
    </ion-item>
  </ion-navbar>
</ion-footer>
