page-list-master {
  ion-checkbox{
    z-index: 1;
  }


  .no_recipe_found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  ion-footer {
    ion-item {
      padding-left: 0px !important;
      background: transparent !important;
      .item-inner {
        padding-right: 0px !important;
        ion-label {
          margin-bottom: 0px !important;
          margin-right: 0px !important;
          ion-scroll {
            position: unset;
            height: 75px;
            .scroll-item {
              margin-top: 5px;
              padding-right: 80px;
              p {
                overflow: hidden !important;
                text-overflow: ellipsis !important;
              }
            }
          }
        }
      }
      div[item-end] {
        z-index: 1;
        button {
          padding: 15px !important;
        }
      }
    }
    img {
      border-radius: 100%;
    }
    .card {
      border-radius: 100%;
      display: inline-block;
      height: 60px;
      border: 1px solid #149a9a;
      position: relative;
      width: 60px;
    }
    .card-1 {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
      img {
        overflow: hidden;
        width: 100%;
        height: 100%;
      }
    }

    ion-scroll[scrollX] {
      white-space: nowrap;
      .scroll-item {
        display: inline-block;
      }
    }
  }

  .cross-btn{

    position: absolute !important;
    top: -12px;
    right: -20px;


  }

  .cross-btn ion-icon{
    position: absolute;
    display: block;

  }

}
