page-signup {
  ion-header{
    ion-navbar{
      .toolbar-background-ios{
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
      }
      .toolbar-title-ios{
        color:#5a5a5a;
      }
    }
  }

  .header-md{
    .toolbar-md{

      min-height: 50px;
      .toolbar-background{
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
        text-align:center;
      }
      .toolbar-content{
        text-align:center;
      }
    }
  }
  .back-button{
    display:none !important;
  }
  .header-md:after{
    display:none;
  }
  ion-content{
    background:#f2f2f2 !important;

    .item-checkbox-checked{
      ion-avatar{
        background:map-get($colors, primary);
        img{
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }

    .item-block{
      min-height: 3.2rem !important;
    }
    .signup_back {
      background:#fff !important;
      margin-top:54px;
    }

    .signup_email {
      padding: 0px 25px 10px;
      margin-top:31px;
      .se-left {
        float: left;
        width: 80%;
        text-align: left;
        margin-top: -28px;

        .se-icon{
          float:left;
          background:#3b3b3b;
          color:#fff;
          width: 60px;
          height: 60px;
          font-size: 34px;
          border-radius: 100%;
          padding: 6px 0px;
          text-align:center;
        }
        .se-email{
          float:left;
          font-size: 19px;
          padding-left: 10px;
          line-height: 24px;
          padding-top: 4px;
            span{
              display:block;
            }
        }
      }
      .se-right{
        float:right;

        .se-arrow{
          font-size: 20px;
          background: #fff;
          padding: 10px;
          margin-top: -21px;
          border-radius: 100%;
          width: 46px;
          height: 46px;
        }


      }
      ion-item{
        padding:0px !important;
        border-radius:4px;
        .item-inner{
          border:0px solid #ccc !important;

          ion-input{
            margin-top: 7px;
            input{
              border:1px solid #ccc !important;
              padding:8px 15px !important;
              margin:0px !important;
            }
          }
        }
      }
    }
    .email_sign{
      margin-top: 0 !important;
    }
    .facebook_sign{
      .se-icon{
        background: #0b79bb !important;

      }
      .se-email{
        color: #0b79bb;
        span{
          color:#313131;
        }
      }
    }
    .google_sign{
      .se-icon{
        background: #8a0b0b !important;
      }
      .se-email{
        color: #8a0b0b;
        span{
          color:#313131;
        }
      }
    }
  }
  .content-md{
    ion-col{
      .se-icon{
        ion-icon{
          padding-top:5px;
        }
      }
    }
  }
  ion-footer{
    background:#fff;
    .alreadysign{
      padding:0px;
      height: 24px;
    }
  }
  .footer-md{
    .button-md{
      box-shadow: none !important;
    }
  }
  .clearfix:before, .clearfix:after{
    content:'';
    display:block;
    clear:both;
  }
  .form_fields_error {
    margin: 0px;
    color: map-get($colors, danger);
  }
}
