<ion-header>

  <ion-navbar>
    <ion-title>Your Profile ( 5 / 5 )</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div class="pagi">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-left>
              <button ion-button clear icon-start (click)="back()" color="gray">
                <ion-icon name="arrow-back"></ion-icon>
                BACK
              </button>
            </ion-col>
            <ion-col col-4>
              <img src="assets/img/appicon.png" class="logo-tutorial"/>
            </ion-col>
            <ion-col col-4 text-right>
              <button ion-button clear icon-end (click)="next()" disabled color="secondary">NEXT
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  <ion-col col-12 text-center no-padding>
    <h2 no-margin>Tell us a bit about yourself</h2>
    <p>Choose an option to enter your information</p>
    <ion-grid class="signup_back">
      <div class="signup_email email_sign clearfix">
        <div class="se-left">
          <div class="se-icon">
            <ion-icon name="ios-mail"></ion-icon>
          </div>
          <div class="se-email">
            SIGNUP <span>WITH EMAIL</span>
          </div>
        </div>
        <div class="se-right">
          <div class="se-arrow">
            <ion-icon name="ios-arrow-up"></ion-icon>
          </div>
        </div>
        <div>
          <ion-item class="form_input">
            <ion-input type="text" name="name" placeholder="Name" [(ngModel)]="user.name"></ion-input>
          </ion-item>
          <p *ngIf="errors.user.name.isError" text-left class="form_fields_error animated fadeIn">
            {{errors.user.name.error}}</p>
        </div>
        <div>
          <ion-item class="form_input">
            <ion-input type="email" name="email" placeholder="Email" [(ngModel)]="user.email"></ion-input>
          </ion-item>
          <p *ngIf="errors.user.email.isError" text-left class="form_fields_error animated fadeIn">
            {{errors.user.email.error}}</p>
        </div>
        <div>
          <ion-item class="form_input">
            <ion-input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"></ion-input>
          </ion-item>
          <p *ngIf="errors.user.password.isError" text-left class="form_fields_error animated fadeIn">
            {{errors.user.password.error}}</p>
        </div>
        <div>
          <ion-item class="form_input">
            <ion-input type="password" name="password_confirm" placeholder="Confirm Password"
                       [(ngModel)]="user.password_confirmation"></ion-input>
          </ion-item>
        </div>
        <div>
          <button ion-button round block (click)="singUp()" style="margin-top: 10px; width: calc(100% - 16px);">Finish
          </button>
        </div>
      </div>
      <div class="signup_email facebook_sign clearfix" (click)="loginFacebook()">
        <div class="se-left">
          <div class="se-icon">
            <ion-icon name="logo-facebook"></ion-icon>
          </div>
          <div class="se-email">
            SIGNUP <span>WITH FACEBOOK</span>
          </div>
        </div>
        <div class="se-right">
          <div class="se-arrow">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </div>
        </div>
        <ion-item class="form_input" style="display:none;">
          <ion-input type="email" name="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item class="form_input" style="display:none;">
          <ion-input type="password" name="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>

      <div class="signup_email google_sign clearfix" (click)="loginGooglePlus()">
        <div class="se-left">
          <div class="se-icon">
            <ion-icon name="logo-googleplus"></ion-icon>
          </div>
          <div class="se-email">
            SIGNUP <span>WITH GOOGLE</span>
          </div>
        </div>
        <div class="se-right">
          <div class="se-arrow">
            <ion-icon name="ios-arrow-down"></ion-icon>
          </div>
        </div>
        <ion-item class="form_input" style="display:none;">
          <ion-input type="email" name="email" placeholder="Email"></ion-input>
        </ion-item>
        <ion-item class="form_input" style="display:none;">
          <ion-input type="password" name="password" placeholder="Password"></ion-input>
        </ion-item>
      </div>
    </ion-grid>
  </ion-col>
</ion-content>

<!--<ion-footer>-->
<!--<ion-grid padding>-->
<!--<button ion-button round block (click)="singUp()">Finish</button>-->
<!--</ion-grid>-->

<!--</ion-footer>-->
