page-mealplan {
  ion-header {
    z-index: 1;
  }
  .isAnimation {
    .scroll-content {
      overflow: visible;
    }
  }
  .custom_icon {
    font-size: 3em;
    position: relative;
    top: -15px;
    right: 20px;
  }
  .custom_icon:before {
    transform: rotate(70deg);
  }
  .previousPlanContainer {
    button.hideShowButton {
      text-transform: uppercase;
    }
  }
  .subscription_item {
    ion-list {
      margin-bottom: 5px;
      ion-label {
        white-space: normal;
      }
      span {
        font-size: 0.8em;
      }
    }
  }
}
