<!--
  Generated template for the MealplanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons *ngIf="!isFavourite" end (click)="presentModal()">
      <button ion-button color="secondary" outline>
        Create Plan
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding
             [class.isAnimation]="!isFavourite && !isLoading && recipes.length <= 0 && previousMealPlanData.data.length <= 0">
  <ion-icon *ngIf="!isFavourite && !isLoading && recipes.length <= 0 && previousMealPlanData.data.length <= 0"
            class="custom_icon animated bounce infinite"
            color="secondary"
            name="ios-undo" float-right></ion-icon>
  <ion-grid class="full_page_loading" *ngIf="isLoading">
    <ion-row align-items-center justify-content-center>
      <ion-spinner></ion-spinner>
    </ion-row>
  </ion-grid>
  <div class="meal_plan_welcome animated fadeIn" (click)="presentModal()"
       *ngIf="!isLoading && recipes.length <= 0 && previousMealPlanData.data.length <= 0">
    <img [src]="defaultImagePath" class="slide-image"/>
  </div>
  <div *ngIf="!isLoading && recipes.length > 0" class="recipe_list_container animated fadeIn">
    <div *ngIf="!is_subscribed" class="subscription_item">
      <ion-list no-lines>
        <button ion-item (click)="openSubscriptionModal()">
          <ion-icon name="star" item-start color="light"></ion-icon>
          <span>Even more recipes are available with our Pro subscription. Upgrade it today!</span>
        </button>
      </ion-list>
    </div>
    <ion-list *ngFor="let recipe of recipes;" class="recipe_list">
      <button (click)="openRecipe(recipe)">
        <ion-avatar item-start>
            <div class="image-cropper" [style.backgroundImage]="'url(' + recipe.image + ')'">
                <!-- <img [src]="recipe.image || 'assets/img/default_recipe.jpg'" class="profile-pic"/> -->
              </div>
          <!-- <img [src]="recipe.image || 'assets/img/default_recipe.jpg'"/> -->
        </ion-avatar>
        <div class="clearfix text">
          <h2>{{recipe.title}}</h2>
        </div>
      </button>
    </ion-list>
  </div>
  <div *ngIf="isPrevious" class="previousPlanContainer">
    <div text-center>
      <button ion-button clear class="hideShowButton" (click)="togglePreviousMealPlan()">
        <b *ngIf="previousMealPlanData.isShow">Hide my Previous Meal Plan</b>
        <b *ngIf="!previousMealPlanData.isShow">Show my Previous Meal Plan</b>
      </button>
    </div>
    <ion-grid class="full_page_loading" *ngIf="previousMealPlanData.isLoading && previousMealPlanData.isShow">
      <ion-row align-items-center justify-content-center>
        <ion-spinner></ion-spinner>
      </ion-row>
    </ion-grid>
    <div *ngIf="!previousMealPlanData.isLoading && previousMealPlanData.isShow && previousMealPlanData.data.length > 0"
         class="recipe_list_container animated fadeIn">
      <ion-list *ngFor="let recipe of previousMealPlanData.data;" class="recipe_list">
        <button (click)="openRecipe(recipe)">
          <ion-avatar item-start>
              <div class="image-cropper" [style.backgroundImage]="'url(' + recipe.image + ')'">
                  <!-- <img [src]="recipe.image || 'assets/img/default_recipe.jpg'" class="profile-pic"/> -->
                </div>

          </ion-avatar>
          <div class="clearfix text">
            <h2>{{recipe.title}}</h2>
          </div>
        </button>
      </ion-list>
    </div>
  </div>
</ion-content>
