<!--
  Generated template for the SubscriptionSuccessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Upgrade to OLMP Pro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="centerDiv" text-center>
    <h1>Welcome to OLMP Pro</h1>
    <p>All pro-only features are now unlocked.</p>
    <ion-icon name="checkmark" color="light" class="animated zoomInDown"></ion-icon>
  </div>
</ion-content>
