page-subscription-success {
  ion-content {
    background-color: map-get($colors, 'defaultBackground') !important;
    .centerDiv {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 auto;
      ion-icon {
        font-size: 10em;
      }
    }
  }

}
