<ion-header>
  <ion-navbar>
    <ion-title>Allergies ( 2 / {{totalSteps}} )</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div class="pagi">
        <ion-grid>
          <ion-row>
            <ion-col col-4 text-left>
              <button ion-button clear icon-start (click)="back()" color="gray">
                <ion-icon name="arrow-back"></ion-icon>
                BACK
              </button>
            </ion-col>
            <ion-col col-4>
              <img src="assets/img/appicon.png" class="logo-tutorial"/>
            </ion-col>
            <ion-col col-4 text-right>
              <button ion-button clear icon-end (click)="next()" color="secondary">NEXT
                <ion-icon name="arrow-forward"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  <ion-col col-12 text-center no-padding>
    <h2 no-margin> Do you have any allergies?</h2>
    <p>Please select one or more options.</p>
    <div *ngIf="isLoading">
      <ion-spinner></ion-spinner>
    </div>
    <p *ngIf="!isLoading && allergies.length <= 0">No Allergies Found.</p>
    <ion-grid *ngIf="!isLoading && allergies.length > 0">
      <ion-row>
        <ion-col col-6 *ngFor="let allergy of allergies; let i = index;">
          <ion-item>
            <ion-label> {{allergy.name}}</ion-label>
            <ion-checkbox [(ngModel)]="allergy.isSelected"></ion-checkbox>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="isShowMore">
          <ion-col>
            <button ion-button clear class="search-btn" (click)="openIngredientSearch()"><ion-icon ios="ios-search" md="md-search"></ion-icon> Find More</button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-col>
</ion-content>
<ion-footer>
  <ion-grid padding>
    <button ion-button round block color="light" (click)="next()">CONTINUE</button>
  </ion-grid>
</ion-footer>
