page-allergies {

  .search-btn {
    border: 1px solid;
    border-radius: 15px;
  }

  .search-btn ion-icon {
    margin-right: 10px;
    border-right: 1px solid;
    padding-right: 10px;
  }
  
  ion-header{
    ion-navbar{
      .toolbar-background-ios{
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
      }
      .toolbar-title-ios{
        color:#5a5a5a;
      }
    }
  }

  .header-md{
    .toolbar-md{

      min-height: 50px;
      .toolbar-background{
        border-bottom: 1px solid #e6e6e6 !important;
        background: #fff !important;
        text-align:center;
      }
      .toolbar-content{
        text-align:center;
      }
    }
    //.pagi{
    //
    //  .logo-tutorial{
    //    padding:10px;
    //    width:120px;
    //  }
    //  .button-md{
    //    padding: 0 !important;
    //  }
    //}

  }
  .header-md:after{
    display:none;
  }
  //.logo-tutorial{
  //  position: absolute;
  //  z-index: 9999;
  //  width: 140px;
  //  left: 0;
  //  right: 0;
  //  background: #fff;
  //  margin: 0 auto;
  //  border-radius: 90px;
  //  padding:15px;
  //}
  //.pagi{
  //  background:#fff;
  //  text-align:center;
  //  margin-bottom: 30px;
  //  button{
  //    font-size: 21px;
  //  }
  //}
  ion-content{
    background:#f2f2f2 !important;

    .item-checkbox-checked{
      ion-avatar{
        background:map-get($colors, primary);
        img{
          -webkit-filter: invert(100%);
          filter: invert(100%);
        }
      }
    }
    ion-item{
      padding:0px 7px !important;
      border-radius:100px !important;
      height: 1.0rem;
      ion-checkbox{
        margin: 0px 7px 0px 4px !important;

      }
      .label-ios {
        margin: 0 !important;
      }
      .item-inner{
        border:0px !important;
      }

    }
    .item-block{
      min-height: 3.2rem !important;
    }
    .item-checkbox-checked{
      background:map-get($colors, light);
      .checkbox-checked{
        background:#fff;
        border:0px !important;
        .checkbox-inner{
          border-color: map-get($colors, light) !important;
          width: 6px;
          height: 11px;
        }
      }
      .item-inner{
        ion-label{
          color:#fff;
        }
      }
    }
    .checkbox-md{
      .checkbox-inner {
        left: 5px !important;
        top: 1px !important;
      }
    }
  }
  ion-footer{
    background:#fff;
    .alreadysign{
      padding:0px;
      height: 24px;
    }
  }
}
