page-nutritions {

  ion-content {
    background-color: map-get($colors, 'defaultBackground') !important;


    ion-item-group{
      ion-item-divider{
        // background:none !important;
        // color:#999 !important;
        font-size:1.8rem !important;
        padding:0px 10px !important;
        border-bottom:1px solid #ccc !important;
      }
      ion-item{
        padding:0px !important;

        ion-label{
          padding:0px 10px !important;
          background:#fff;
        }
      }
    }
    // .scroll-content {
    //   overflow: hidden !important;
    // }
    ion-textarea {
      background-color: map-get($colors, 'defaultBackground');
      border: 0;
      width: 100%;
      height: 100%;
      padding: 10px;
      textarea {
        width: 100% !important;
        height: 100% !important;
        margin: 0px !important;
      }
    }
    .center-grid{
      display:block;
      margin:0 auto;
      width:80% !important;
      padding-top: 20px;
    }
    .highlist-calories{
      ion-item{
        border-radius: 100%;
        height:120px;
        width:120px;
        text-align:center;
        border:1px solid green;
        ion-label{
          font-size:2.5rem;
          color:green;
          small{
            display:block;
            font-size:1.5rem;
            color:#000;
          }
        }
      }

    }
    .calculate-calories{
      ion-item{
        background:none;
        border:0px;
        padding:0px;
        .item-inner{
          border:0px !important;
        }
        ion-label{
          margin:0px !important;
          padding:0px !important;
        }
      }
    }
  }
}
