<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Nutritions</ion-title>


  </ion-navbar>

</ion-header>


<ion-content>

    <ion-grid class="full_page_loading" *ngIf="isLoading">
        <ion-row align-items-center justify-content-center>
          <ion-spinner></ion-spinner>
        </ion-row>
      </ion-grid>

    <ion-grid class="center-grid" *ngIf="!isLoading">
        <ion-row>
          <ion-col class="highlist-calories">
            <ion-item>{{bigdata["calories"] | number: '1.0-1'}} <small>Calories</small></ion-item>
          </ion-col>
          <ion-col class="calculate-calories">
            <ion-item>{{bigdata["totalNutrients"]["FAT"]["label"]}} <span float-right>{{bigdata["totalNutrients"]["FAT"]["quantity"] | number: '1.0-1' }}{{bigdata["totalNutrients"]["FAT"]["unit"]}}</span></ion-item>
            <ion-item>{{bigdata["totalNutrients"]["CHOCDF"]["label"]}} <span float-right>{{bigdata["totalNutrients"]["CHOCDF"]["quantity"] | number: '1.0-1' }}{{bigdata["totalNutrients"]["CHOCDF"]["unit"]}}</span></ion-item>
            <ion-item>{{bigdata["totalNutrients"]["PROCNT"]["label"]}} <span float-right>{{bigdata["totalNutrients"]["PROCNT"]["quantity"] | number: '1.0-1' }}{{bigdata["totalNutrients"]["PROCNT"]["unit"]}}</span></ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>


  <ion-item-group *ngIf="!isLoading">
    <ion-item-divider color="light">Total Nutrients</ion-item-divider>
    <ion-item *ngFor="let nutr of totalNutrantKeys">
        <ion-row>
          <ion-col col-7>
              {{bigdata["totalNutrients"][nutr]["label"]}}
          </ion-col>
          <ion-col col-4 text-right>
              {{bigdata["totalNutrients"][nutr]["quantity"] | number: '1.2-2'}}
          </ion-col>
          <ion-col col-1 text-right>
              {{bigdata["totalNutrients"][nutr]["unit"]}}
          </ion-col>
        </ion-row>
      </ion-item>

    <ion-item-divider color="light">Daily Nutrients</ion-item-divider>
    <ion-item *ngFor="let nutr of totalDailyKeys">
        <ion-row>
          <ion-col col-7>
              {{bigdata["totalDaily"][nutr]["label"]}}
          </ion-col>
          <ion-col col-4 text-right>
              {{bigdata["totalDaily"][nutr]["quantity"] | number: '1.2-2'}}
          </ion-col>
          <ion-col col-1 text-right>
              {{bigdata["totalDaily"][nutr]["unit"]}}
          </ion-col>
        </ion-row>
      </ion-item>

      <ion-item-divider color="light">Diet Labels</ion-item-divider>
      <ion-item *ngFor="let dietLabels of bigdata.dietLabels">
          <ion-row>
              <ion-col col-12>
                  {{dietLabels}}
              </ion-col>
            </ion-row>
      </ion-item>

      <ion-item-divider color="light">Health Labels</ion-item-divider>
      <ion-item *ngFor="let healthLabels of bigdata.healthLabels">
          <ion-row>
              <ion-col col-12>
                  {{healthLabels}}
              </ion-col>
            </ion-row>
      </ion-item>

  </ion-item-group>




</ion-content>
